<section class="image-with-text-on-top" id="section-{{ section.id }}">
  <div class="Container values-container">
    <div class="Values">
      <h2 class="about-us-titles">{{ section.settings.title }}</h2>
      <div class="about-us_content">{{ section.settings.content }}</div>
    </div>
    <div class="image-wrapper">
      <img src="{{ section.settings.image | img_url: "master" }}" alt="">
    </div>
  </div>
</section>





{% schema %}
  {
    "name": "Image w/ text on top",
    "settings": [
      {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "text",
      "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1500 x 800px .jpg recommended"
    }
    ],
    "presets": [
      {
        "name": "Image w/ text on top",
        "settings": {}
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}