<style>

  .flex-container h3, .ebooks-title h3{

    color: #D14839;
    margin-top: 48px;
    text-transform: uppercase;

  }

  
  .videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border:none;
  background:lightgrey;
}
.flex-container {
 /* margin: 24px auto;
  max-width: 1440px;
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;*/
  margin-bottom: 50px;
}

.flex-wrap {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.flex-wrap>div {
  width: 32%;
  background: #F4F4F4;
  margin-bottom: 12px;
  margin-right: 1%;
}
.txt {
  padding:20px;
}
@media (max-width: 768px) {
  .flex-wrap>div {
    width: 100%;
  }

}
  
  
  
</style>  
{% section 'slideshow' %}
<div class="Container">
  <h1 class="page-title SectionHeader__Heading Heading u-h1" style="padding: 45px 0 0;">{{ page.title }}</h1>
  <div class="rte">{{ page.content | replace: 'fullwidth"', '" data-fullwidth="true"' }}
    <div class="resources">
      <div class="flex-container">

  
  <h3>How to: Vinyl Straps</h3>
  

  <div class="flex-wrap">
    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/IWzbsmEu_aE"></iframe>
      </div>
      <div class="txt">
        <h4>How To Measure Straps For Replacement</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you how to measure double wrap straps or single wrap straps for replacement. You can use these measurements to order pre-cut straps OR to cut the straps from a strap roll.</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/-osTk60qBko"></iframe>
      </div>
      <div class="txt">
        <h4>How To Install A Single Strap Vinyl Wrap</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you how to install a single wrap vinyl strap on a patio chair. </p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/mZy00VmFGkM"></iframe>
      </div>
      <div class="txt">
        <h4>How To Install A Double Wrap Vinyl Strap</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you how to Install a Double Wrap Vinyl Strap</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/DGNqjuZ7pqk"></iframe>
      </div>
      <div class="txt">
        <h4>How To Pick The Correct Vinyl Strap For Your Project</h4>
        <p style="margin:0px;padding:0px;">If you're replacing the vinyl strapping of your patio chaises or chairs, here's a tutorial on how to pick the correct width size and length size of a vinyl strap roll before you buy online.</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/QQraJhI9LJY"></iframe>
      </div>
      <div class="txt">
        <h4>How To Make Straps From A Strap Roll</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you how to make straps out of a strap roll. It's a simple process, and you'll have new straps in no time. </p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/Tcow6PUpFHE"></iframe>
      </div>
      <div class="txt">
        <h4>How To Replace Plastic Adjustment Brackets On Chaise Lounges</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you how to replace your adjustment brackets on chaise lounges.</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/kUrBfuuEjXs"></iframe>
      </div>
      <div class="txt">
        <h4>How To Pick The Right Rivet For Your Strap Project</h4>
        <p style="margin:0px;padding:0px;">Are you replacing straps on patio chairs but don't know which rivet to use to fasten the straps? Here's a quick tutorial on how to measure the hole and pick the right rivet for your strap project.</p>
      </div>
    </div>



    
  </div>

  
  <h3>How to: Sling Install</h3>
  

  <div class="flex-wrap">
    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/H_Ahex2oHRc"></iframe>
      </div>
      <div class="txt">
        <h4>How To Replace A Chair Sling</h4>
        <p style="margin:0px;padding:0px;">Learn how to replace your old chair slings and install new ones with this handy tutorial. If you have any questions just go to our site and ask us on the chat!</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/62u2WSbslKM"></iframe>
      </div>
      <div class="txt">
        <h4>How To Replace A Chaise Lounge Sling</h4>
        <p style="margin:0px;padding:0px;">Learn how to replace your old chaise lounge slings and install new ones with this handy tutorial. If you have any questions send us an email at sales@sunnilandpatio.com.</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/-_-jZgBxDus"></iframe>
      </div>
      <div class="txt">
        <h4>How To Clean Sling Furniture </h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you how to clean sling furniture! It's super easy and anyone can do it in their backyards. </p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/sVjjys3Tvlw"></iframe>
      </div>
      <div class="txt">
        <h4>How To Measure For Replacement Slings</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you how to measure slings on patio chairs and chaise lounges so you can order new slings for replacement with the measurements obtained.</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/_Skd8yrBSL8"></iframe>
      </div>
      <div class="txt">
        <h4>Sling Replacement Troubleshooting</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you how to troubleshoot the following problems you may encounter during sling replacement: The old sling is stuck to the rails and you can't remove it, or the old bolts are frozen in place, and the rail is stuck to the frame, or the back brace won't go back into the frame.</p>
      </div>
    </div>



    
  </div>

  
  <h3>How to: Caps and Glides</h3>
  

  <div class="flex-wrap">
    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/30b_Jmm0sG4"></iframe>
      </div>
      <div class="txt">
        <h4>Types of Wrought Iron Glides</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you the different types of wrought iron glides!</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/ERJU3Y25aSc"></iframe>
      </div>
      <div class="txt">
        <h4>How to Measure a Wrought Iron Chair Glide</h4>
        <p style="margin:0px;padding:0px;">Here's how to measure a wrought iron chair glide so that you can buy the correct glide for your patio set. </p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/xbWD-cNQr3s"></iframe>
      </div>
      <div class="txt">
        <h4>How To Install A Wrought Iron Chair Glide</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you how to install wrought iron chair glides. </p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/MwoQhUjdm6w"></iframe>
      </div>
      <div class="txt">
        <h4>How To Measure Chair Leg Inserts</h4>
        <p style="margin:0px;padding:0px;">Many of our customers have trouble finding the right size for their chair leg inserts, here's a handy tutorial on how to get the size and which types of inserts are available to you.</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/lU0oYV3QBRM"></iframe>
      </div>
      <div class="txt">
        <h4>How To Install A Chair Leg Insert</h4>
        <p style="margin:0px;padding:0px;">Here's how to install a chair leg insert step by step.</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/bTjdGJ6Mq3w"></iframe>
      </div>
      <div class="txt">
        <h4>How To Measure And Install Chair Leg Protectors </h4>
        <p style="margin:0px;padding:0px;">Here's how to measure and install chair leg protectors. </p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/vAo53BiIEPE"></iframe>
      </div>
      <div class="txt">
        <h4>How To Measure And Install Rectangular Inserts</h4>
        <p style="margin:0px;padding:0px;">Here's how to measure and install rectangular inserts that go on chair legs. These protect your patio floors and make your patio furniture last longer.</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/nhMExzKvTXY"></iframe>
      </div>
      <div class="txt">
        <h4>How To Measure And Install Oval Inserts</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you how to measure and install oval inserts. </p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/oir2I4EENQE"></iframe>
      </div>
      <div class="txt">
        <h4>How To Install Sling Rail Endcaps</h4>
        <p style="margin:0px;padding:0px;">Here's how to measure and install sling rail end caps on your sling chairs and sling chaise lounges.</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/5yiPW6F-MgY"></iframe>
      </div>
      <div class="txt">
        <h4>How To Measure And Install A Stud Glide</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you how to measure and install a stud glide. These can be tricky but we'll show you what to do!</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/zSq6RZosMoI"></iframe>
      </div>
      <div class="txt">
        <h4>How To Install Stem Glides</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you how to install stem glides on a swivel rocker.</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/bEUvB-XRI5g"></iframe>
      </div>
      <div class="txt">
        <h4>How To Install Sled Glides on Chaise Lounges</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you the different types of glides available for the tubular feet of chaise lounges and how to install them. </p>
      </div>
    </div>



    
  </div>

  
  <h3>How to: Patio Furniture</h3>
  

  <div class="flex-wrap">
      
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/Zc9ywDMwOyw"></iframe>
      </div>
      <div class="txt">
        <h4>How To Replace Glider Bearing Arms On Glider Chairs</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you how to replace glider bearing arms on glider chairs.</p>
      </div>
    </div>      
    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/I64WZlv0dlA"></iframe>
      </div>
      <div class="txt">
        <h4>Patio Furniture Paint Touch Up</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you how to do a paint touch up on your patio furniture.</p>
      </div>
    </div>
    
    
    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/jkIntt-l5Fs"></iframe>
      </div>
      <div class="txt">
        <h4>Tips On Using Patio Furniture Covers</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you tips on how to use patio furniture covers. From how to measure your furniture to get the right size covers to installing the covers, you'll learn everything there is to know about covers!</p>
      </div>
    </div>
    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/5dImGF0NsOY"></iframe>
      </div>
      <div class="txt">
        <h4>Overview Of Aluminum Patio Furniture</h4>
        <p style="margin:0px;padding:0px;">Today we're going to give you an overview of aluminum patio furniture to help you have more knowledge when choosing your patio furniture. </p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/88z41MbdeRs"></iframe>
      </div>
      <div class="txt">
        <h4>Overview Of Marine Grade Polymer Furniture</h4>
        <p style="margin:0px;padding:0px;">Today we're going to give you an overview of marine grade polymer furniture and why we really love it. </p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/sLkEZJmQ-BY"></iframe>
      </div>
      <div class="txt">
        <h4>Overview Of Wicker Furniture</h4>
        <p style="margin:0px;padding:0px;">Today we're going to give you an overview on wicker furniture.</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/eJRh4KLswl8"></iframe>
      </div>
      <div class="txt">
        <h4>How To Repair Glass Patio Table Problems</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you how to repair 3 of the most common glass patio table problems.</p>
      </div>
    </div>



    
  </div>

  
  <h3>How to: Cushions</h3>
  

  <div class="flex-wrap">
    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/DBmSN1O1wn8"></iframe>
      </div>
      <div class="txt">
        <h4>How To Clean Sunbrella Cushion</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you how to clean sunbrella cushion!</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/Y3fInKrQFHQ"></iframe>
      </div>
      <div class="txt">
        <h4>How To Measure Universal Cushions</h4>
        <p style="margin:0px;padding:0px;">Today we're going to show you how to measure universal cushions, what fabric they come in, the finishing you should expect, and overall tips for buying them.</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/7vaIzGNBcpM"></iframe>
      </div>
      <div class="txt">
        <h4>Cast Classics Cushions</h4>
        <p style="margin:0px;padding:0px;">A brief overview of the cast classic cushions, how to buy them and what quality to look for when buying them. </p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/9C1JYQtui-s"></iframe>
      </div>
      <div class="txt">
        <h4>Brown Jordan Replacement Cushions</h4>
        <p style="margin:0px;padding:0px;">Today we take a look at brown jordan replacement cushions and how to best shop for your </p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/Sbm730f-LMA"></iframe>
      </div>
      <div class="txt">
        <h4>Ebel Replacement Cushions</h4>
        <p style="margin:0px;padding:0px;">Today we show you the Ebel replacement cushion finishes and how the pieces look. Hopefully, it'll help you with your buying decision once you know what you are looking for.</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/qHSrtkG1pvM"></iframe>
      </div>
      <div class="txt">
        <h4>Hanamint Replacement Cushions</h4>
        <p style="margin:0px;padding:0px;">Today we are going to show you the finish for Hanamint replacement cushions this was you know what you are shopping for. </p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/A55icSiuXuQ"></iframe>
      </div>
      <div class="txt">
        <h4>Top 4 Reasons To Replace Your Patio Furniture Cushions</h4>
        <p style="margin:0px;padding:0px;">Today we're going to discuss the top 4 reasons to replace your cushions. Patio furniture replacement cushions can extend the life of your furniture and give you a new look, so consider that before buying brand new furniture.</p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/379ZPdPKbko"></iframe>
      </div>
      <div class="txt">
        <h4>Why Sunbrella Fabrics Are The Best Choice For Your Patio Furniture</h4>
        <p style="margin:0px;padding:0px;">Today we're going over Sunbrella Fabrics and why they are the best choice for your patio furniture. </p>
      </div>
    </div>



    
    <div class="flex-module">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/BiYcvB35YYo"></iframe>
      </div>
      <div class="txt">
        <h4>Tips For Shopping Replacement Cushions</h4>
        <p style="margin:0px;padding:0px;">Today we're going to give you the top 4 tips for shopping for replacement cushions. </p>
      </div>
    </div>



    
  </div>

  
